<div class="chat">
  <p class="fs-4"><%= @question %></p>
  <i>─You</i>
</div>

<div class="chat answer">
  <p class="fs-4"><%= @answer %></p>
 <i>─Your coach</i>
</div>

<%= link_to  "Ask a new question", ask_path, class:"btn-new" %>   
